/*.button{
  position: fixed;
  bottom: 0px;
}*/
table {
  margin-top: 100px;
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
 th{
   background-color: gray;
 }
