<!-- <form   #signupForm="ngForm" >
  <div class="example-container">
    <mat-form-field>
      <input matInput type="text" placeholder="Email Address" name="emailAddress" id="emailAddress"   ngModel required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="full name" name="fullName" id="fullName"   ngModel required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="mobile no" name="mobileNo" id="mobileNo"   ngModel required>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Select" name="role" ngModel required>
        <mat-option value="HR ADMIN">HR ADMIN</mat-option>
          <mat-option value="HR USER">HR USER</mat-option>
      </mat-select>
      <button type="button" class="button" name="button" (click)="login(signupForm.value)">submit</button>
    </mat-form-field>
  </div>
</form> -->


<table >
    <thead>
        <tr>
            <th>Email Address</th>
            <th>Full Name</th>
            <th>Mobile No</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let field of fieldArray; let i = index">
            <td>
                <input [(ngModel)]="field.emailAddress" class="form-control" type="text" name="{{field.emailAddress}}" />
            </td>
            <td>
                <input [(ngModel)]="field.fullName" class="form-control" type="text" name="{{field.fullName}}" />
            </td>
            <td>
                <input [(ngModel)]="field.mobileNo" class="form-control" type="text" name="{{field.mobileNo}}" />
            </td>
            <td>
              <select name="role" ngFor="let role of roles" [(ngModel)]="field.role">
                <option value="HR ADMIN">HR ADMIN</option>
                <option value="HR USER">HR USER</option>
              </select>
            </td>

        </tr>
        <tr>
            <td>
                <input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.emailAddress" name="newAttributeemailAddress" />
            </td>
            <td>
                <input class="form-control" type="text" id="newAttributeName" [(ngModel)]="newAttribute.fullName" name="newAttributefullName" />
            </td>
            <td>
                <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.mobileNo" name="newAttributemobileNo" />
            </td>
            <td>
              <select name="role" [(ngModel)]="newAttribute.role">
                <option value="HR ADMIN">HR ADMIN</option>
                <option value="HR USER">HR USER</option>
              </select>
            </td>
        </tr>
        <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
          <button class="btn btn-default" type="button" (click)="getFormValue(fieldArray)">SAVE</button>
    </tbody>
</table>


<!-- <form   #signupForm="ngForm" >
<table>
  <thead>
      <tr>
          <th>Email Address</th>
          <th>Full Name</th>
          <th>Mobile No</th>
          <th>Role</th>
      </tr>
  </thead>
 <tbody>
   <tr *ngFor="let rowContent of rows">
      <td><mat-form-field><input matInput  type ="text" name="emailAddress" ></mat-form-field></td>
      <td><mat-form-field> <input  matInput type ="text" name="fullName" ></mat-form-field></td>
      <td><mat-form-field> <input  matInput type ="text" name="mobileNo" ></mat-form-field></td>
      <td><mat-form-field> <input  matInput type ="text" name="role" ></mat-form-field></td>
   </tr>
 </tbody>
</table>
<button class="button" (click)="addRow()">Add Row</button>
<button class="button" (click)="data(signupForm)">SAVE</button>
</form> -->
